[submodule "site-lisp/extensions/emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/extensions/popweb"]
	path = site-lisp/extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-lisp/extensions/lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/extensions/consult-projectile"]
	path = site-lisp/extensions/consult-projectile
	url = https://gitlab.com/OlMon/consult-projectile.git
