[submodule "site-lisp/extensions/auto-save"]
	path = site-lisp/extensions/auto-save
	url = git@github.com:manateelazycat/auto-save.git
[submodule "site-lisp/extensions/nyan-mode"]
	path = site-lisp/extensions/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "site-lisp/extensions/doom-modeline"]
	path = site-lisp/extensions/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
[submodule "site-lisp/extensions/doom-themes"]
	path = site-lisp/extensions/doom-themes
	url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "site-lisp/extensions/all-the-icons"]
	path = site-lisp/extensions/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "site-lisp/extensions/emacs-winum"]
	path = site-lisp/extensions/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "site-lisp/extensions/emacs-which-key"]
	path = site-lisp/extensions/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/extensions/treemacs"]
	path = site-lisp/extensions/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "site-lisp/extensions/projectile"]
	path = site-lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/extensions/emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
	ignore = dirty
[submodule "site-lisp/extensions/emacs-ctable"]
	path = site-lisp/extensions/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule "site-lisp/extensions/emacs-deferred"]
	path = site-lisp/extensions/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "site-lisp/extensions/emacs-epc"]
	path = site-lisp/extensions/emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "site-lisp/extensions/pyim"]
	path = site-lisp/extensions/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "site-lisp/extensions/meow"]
	path = site-lisp/extensions/meow
	url = https://github.com/DogLooksGood/meow.git
[submodule "site-lisp/extensions/sudo-edit"]
	path = site-lisp/extensions/sudo-edit
	url = https://github.com/nflath/sudo-edit.git
[submodule "site-lisp/extensions/ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/extensions/avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/extensions/magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/extensions/smartparens"]
	path = site-lisp/extensions/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "site-lisp/extensions/highlight-indent-guides"]
	path = site-lisp/extensions/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides.git
[submodule "site-lisp/extensions/emacs-format-all-the-code"]
	path = site-lisp/extensions/emacs-format-all-the-code
	url = https://github.com/lassik/emacs-format-all-the-code.git
[submodule "site-lisp/extensions/awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/extensions/company-posframe"]
	path = site-lisp/extensions/company-posframe
	url = https://github.com/tumashu/company-posframe.git
